@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 239 88% 76%;
    --primary-foreground: 0 0% 100%;
    --secondary: 235 92% 77%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 17% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 336 84% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358 86% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 19% 91%;
    --input: 217 19% 91%;
    --ring: 239 88% 76%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 4%;
    --foreground: 216 12% 98%;
    --card: 240 20% 15%;
    --card-foreground: 216 12% 98%;
    --popover: 240 20% 15%;
    --popover-foreground: 216 12% 98%;
    --primary: 235 92% 77%;
    --primary-foreground: 222 47% 11%;
    --secondary: 233 96% 82%;
    --secondary-foreground: 222 47% 11%;
    --muted: 240 16% 22%;
    --muted-foreground: 220 7% 65%;
    --accent: 337 87% 70%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 92% 71%;
    --destructive-foreground: 222 47% 11%;
    --border: 240 16% 22%;
    --input: 240 16% 22%;
    --ring: 235 92% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
